
@{
    ViewData["Title"] = "NasilKullanilir";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2 class="text-center animated bounce">Nasıl Kullanılır ?</h2>
<hr />

<div class="card animated pulse">
    <div class="card-header">
        <h4>Adım Adım Günlük Yazmak</h4>
    </div>
    <div class="card-body">
        <p>
            1-) Defterlerim Sayfasına Gidin.<br />
            2-) Defteriniz Yoksa Yeni Bir Defter Oluşturun.<br />
            3-) Günlük Yazmak İstediğiniz Deftere Girin.<br />
            4-) Yeni Günlük Yaz Butonuna Tıklayın.<br />
            5-) Açılan Sayfada İstediklerinizi Yazın Ve Günlüklerinizi Tutun. <br />
        </p>
    </div>
</div>

<hr />

<div class="card animated pulse">
    <div class="card-header">
        <h4>Yeni Bir Defter Ekleme</h4>
    </div>
    <div class="card-body">
        <p>
            Defterler İçerisine Günlük Yazmanız İçin Gerekli Olan Yapıdır. Hemen Defterlerim Sayfasına Giderek Sol Üst Tarafta Bulunan Yeni Defter Ekle Butonu İle Kendinize Boş Bir Defter Oluşturabilirsiniz.
        </p>
    </div>
</div>

<hr />

<div class="card animated pulse">
    <div class="card-header">
        <h4>Yeni Bir Günlük Ekleme</h4>
    </div>
    <div class="card-body">
        <p>
            Defterlerim Sayfasından Deftere Gir Diyerek Günlük Yazmak İstediğiniz Deftere Girebilirsiniz. Daha Sonra Sol Üst Tarafta Bulunan Yeni Günlük Ekle Butonu İle Günlüklerinizi Ekleyebilirsiniz.
        </p>
    </div>
</div>

<hr />

<div class="card animated pulse">
    <div class="card-header">
        <h4>Yararlı Bilgiler</h4>
    </div>
    <div class="card-body">
        <div class="default-tab">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active show" id="nav-home-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-home" aria-selected="true">Defterlerim</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-profile" aria-selected="false">Günlüklerim</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-contact" aria-selected="false">İstatistikler</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-contact" aria-selected="false">Profil</a>
                </div>
            </nav>
            <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                <div class="tab-pane fade active show" id="nav-1" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p>
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                        dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone.
                        Seitan alip s cardigan american apparel, butcher voluptate nisi .
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <p>
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                        dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone.
                        Seitan alip s cardigan american apparel, butcher voluptate nisi .
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <p>
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                        dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone.
                        Seitan alip s cardigan american apparel, butcher voluptate nisi .
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <p>
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                        dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone.
                        Seitan alip s cardigan american apparel, butcher voluptate nisi .
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>