
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutPanel</title>
</head>
<body>

    <div class="header">

    </div>

    <div class="content">
        @RenderBody()
    </div>

    <div class="footer">

    </div>

</body>
</html>
