
@{
    ViewData["Title"] = "Kodlar";
    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}

<div class="text-center">
    <h2>Kodlar</h2>
    <hr />
    <p>
        Bu Site Tamamıyla Açık Kaynak Kodlu Geliştirilmiş Olup Github Üzerinde Yayınlanmıştır.
    </p>
    <div class="form-group">
        <label for="exampleInputEmail1">Github Üzerinden Kodlar</label>
        <input type="email" class="form-control text-center" value="https://github.com/berkekurnaz/GunlukApp" readonly>
    </div>
</div>

