@model Diary
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="card animated pulse">
    <div class="card-header">Yeni Defter Ekleme Ekranı</div>
    <div class="card-body">
        <div class="card-title">
            <h3 class="text-center title-2 animated fadeIn">Defter Ekle</h3>
        </div>
        <hr>
        <form asp-controller="PanelDefterler" asp-action="Ekle" method="post" enctype="multipart/form-data">
            <div class="form-group animated fadeIn">
                <label class="control-label mb-1">Defterin Adı</label>
                <input type="text" asp-for="Name" class="form-control" maxlength="30" required>
            </div>
            <div class="form-group has-success animated fadeIn">
                <label class="control-label mb-1">Defterin Açıklaması</label>
                <textarea class="form-control" asp-for="Description" rows="5" maxlength="200" required></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-lg btn-info btn-block animated fadeIn">
                    <i class="fa fa-plus-circle"></i>&nbsp;
                    <span id="payment-button-amount">Yeni Defter Ekle</span>
                </button>
            </div>
        </form>
    </div>
</div>

