@model Articles
@{
    ViewData["Title"] = "GunlukOku";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="card">
    <div class="card-header">
        <strong class="card-title">Başlık</strong>
    </div>
    <div class="card-body">
        <p class="card-text">
            @Model.Title
        </p>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <strong class="card-title">Eklenme Tarihi</strong>
    </div>
    <div class="card-body">
        <p class="card-text">
            @Model.CreatedDate
        </p>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <strong class="card-title">İçerik</strong>
    </div>
    <div class="card-body">
        <p class="card-text">
            @Html.Raw(Model.Content)
        </p>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <strong class="card-title">İşlemler</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <center><a href="javascript:history.back()" class="btn btn-info"><i class="fa fa-backward"></i> Geriye Dön</a></center>
            </div>
            <div class="col-md-4">
                <center><a href="/PanelDefterler/GunlukDuzenle/@Model.Id" class="btn btn-success"><i class="fa fa-wrench"></i> Günlüğü Düzenle</a></center>
            </div>
            <div class="col-md-4">
                <center><a href="/PanelDefterler/GunlukSil/@Model.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Günlüğü Sil</a></center>
            </div>
        </div>
    </div>
</div>

