@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Sitenin Carousel Kısmı -->
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">Günlük Sitesi</h1>
        <p class="lead">Bulut Üzerinden Tamamen Gizli Günlüklerinizi Hızlıca Yazmaya Başlayın</p>
        <a href="/Anasayfa/UyeOl/" class="btn btn-primary">Üye Ol</a>
        <a href="/Anasayfa/GirisYap" class="btn btn-primary">Giriş Yap</a>
    </div>
</div>

