
@{
    ViewData["Title"] = "KayitBasarili";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">Başarıyla Kayıt Oldunuz</h1>
        <p class="lead">Sisteme Başarıyla Kayıt Oldunuz.Giriş Yap Butonuna Tıklayarak Giriş Yapabilir Ve Günlüklerinizi Yazmaya Başlayabilirsiniz</p>
        <a href="/Anasayfa/GirisYap/" class="btn btn-primary">Giriş Yap</a>
    </div>
</div>

